
.navbar > ul > li {
    margin-left: 35px;
}

.nav-link:hover {
    color: gray !important;
    transition: 0.3s ease-in-out !important;
}

.navbar {
    min-height: 5vh;
}

.club_text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
