
.get_started {
    min-height: 100vh;
    background: url('welcome2.jpg') center center/cover no-repeat;
    /*background-size: cover;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  color: white;
}

.form-container {
    margin-top: 70px;
}

form > button {
    margin-top: 10px;
}

#h2_grupo {
    margin-top: 20px;

}