
.get_started {
    min-height: 100vh;
    background: url('welcome2.jpg') center center/cover no-repeat;
    /*background-size: cover;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  color: azure;
}

a:focus {
  text-decoration: none;
  color: azure;
}

a:hover {
  text-decoration: none;
  color: azure;
}

.form-container {
    margin-top: 70px;
}

form > button {
    margin-top: 10px;
}

#h2_grupo {
    margin-top: 20px;
}

.col-select {
    text-align: center;
    height: 70vh;
    display: block;
    line-height: 60vh;
    margin-top: 30px;
}

.user-registration {
    background: url('registration-bg.jpg') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.register-group {
    background: url('register-group.jpg') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    font-size: 30px;
}

.register-user {
    background: url('register-user.jpg') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    font-size: 30px;
}

.register-user:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}

.register-group:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}

.a-register-group {
    color: azure;
    transition: 1s;
}

.a-register-user {
    color: azure;
    transition: 1s;
}

.a-register-group:hover {
    animation: register-animation;
}

.a-register-user:hover {
    animation: register-animation;
}

.a-register-group:focus {
    animation: register-animation;
}

.a-register-user:focus {
    animation: register-animation;
}

@keyframes register-animation {
    0% { color: azure !important; }
    50% { color: black !important; font-size: 105% !important; }
    100% { color: azure !important; font-size: 110% !important; }
}


.col-inscr {
    margin-top: 40px;
    height: 80vh;
    text-align: center;
}

.col-inscr > h2 {
    line-height: 20vh;
    color: azure;
}

.col-inscr > label {
    color: azure;
}

.signupselect {
    max-width: 50%;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.signup {
    background: url('inscripcion-bg.jpg') center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    height: 100vh;
    max-width: 100vw;
}

.buttoninscribir {
    margin-left: 50%;
    width: 20vw;
    font-size: 150%;
    position: absolute;
    margin-top: 27%;
    transform: translateX(-50%);
}